

div.param_section_tab{
    width: 20px;
}

div.param_name{
    width: 200px;
}

div.param_input{
    width: 200px;
}

select, input{
    background-color: white;
    border: 1px solid gray;
    padding: 3px 6px;
    border-radius: 5px;
}

div#interactive_inputs, div#interactive_outputs{
    min-width: 300px;
}

div.io_box{
    border: 1px solid lightgray;
    padding: 8px;
    border-radius: 8px;
}

div.io_line{

}

div.io_name{
    width: 80px;
}

div.io_value{
    width: 250px;
}