div.we_block{
    display:flex;
    flex-direction: column;
    
    background-color:silver;
    color:black;
    width:auto;
    border:2px solid black;
    font-size:10px;
    line-height:12px;
    position:relative;
    padding-bottom: 8px;
    border-radius: 8px;
    box-shadow: 6px 6px 6px 1px rgba(50, 50, 50, .5);
}

div.we_block_selected{
    border-color:red;
}

div.we_block_selected div.we_block{
    border-color:black;
}

div.we_block_model{
    background-color:#99ebff;
}

div.we_block_default{
    background-color:#cccccc;
}

div.we_block_allocate_model_at_runtime{
    background-color: #95b14a;
}

div.we_block_run_in_background{
    background-color: #eee04f;
}

div.we_block_data{
    background-color:#ff80b3;
}

div.we_block_helper{
    background-color: #bea7e8;
}

div.we_block div.bl_header{
    font-weight:bold;
    background-color:black;
    color:white;
    padding:3px 5px 3px 5px;
    font-size:12px;
    line-height:14px;
    border-bottom: 2px solid black;
    border-radius: 6px 6px 0 0;
}

div.we_block_selected div.bl_header{
    background-color:red;
    color:black;
    border-color:red;
}

div.we_block_selected div.we_block div.bl_header{
    background-color:black;
    color:white;
    border-color:black;
}

div.we_block div.bl_params{
    text-align:left;
    padding:3px 5px 3px 5px;
}

div.we_block{
    text-align:left;
}

div.we_block div.bl_content{
    padding: 16px;
    display: flex;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
}

div.we_block div.bl_content_vertical{
    flex-direction: column;
}

div.we_block div.bl_content_horizontal{
    flex-direction: row;
    flex-wrap: wrap;
}

div.bl_slots_inputs{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

div.we_block div.bl_footer{
    font-weight:bold;
    background-color:black;
    color:white;
    padding:3px 5px 3px 5px;
}

div.slot_input, div.slot_output{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

div.slot_input{
    justify-content: flex-start;
}

div.slot_output{
    justify-content: flex-end;
}

div.slot_input:hover, div.slot_output:hover{
    background-color:silver;
}

div.slot_marker{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    width:21px;
    height:16px;
    background-color:red;
    border:1px solid black;
    /*position:relative;*/
    top:6px;
}

div.slot_marker:hover{
    background-color: #4aff00;
}

div.slot_input div.slot_marker{
    border-radius: 0 5px 5px 0;
    /*margin-right:5px;*/
    border-left:none;
}

div.slot_output div.slot_marker{
    border-radius: 5px 0 0 5px;
    /*margin-left:5px;*/
    border-right:none;
}

div.slot_selected div.slot_marker{
    background-color:green;
}

div.slot_point{
    display:block;
    width:1px;
    height:1px;
    /*position:absolute;*/
}
div.slot_input div.slot_marker div.slot_point{
    left:13px;
    top:7px;
}
div.slot_output div.slot_marker div.slot_point{
    left:7px;
    top:7px;
}

div.we_datalink_sub{
    z-index:200;
    position: absolute;
    border: 1px solid blue;
}

/*div.we_simple_datalink{*/
    /*z-index:200;*/
    /*position: absolute;*/
    /*border: 1px solid blue;*/
/*}*/

/*div.we_simple_datalink:hover{*/
    /*border-color:orange;*/
/*}*/

/*div.we_simple_datalink_selected{*/
    /*!*border-color: red;*!*/
    /*!*border-width:3px;*!*/
/*}*/

div.we_datalink_selected div.we_datalink_sub{
    border-color: green;
    border-width:3px;
}

div.we_datalink_hover div.we_datalink_sub{
    border-color: green;
    /*border-width:3px;*/
}


/* block MENU */
div.block_menu_base{
    display:none;
    position:absolute;
    top:0;
    left:0;

    background-color:silver;
    color:black;

    z-index:300;
}

div.block_menu_submenu{
    display:block;
    position:absolute;
    width:0;
    height:0;
    right:0;
}

div.block_menu{
    position:absolute;

    background-color:silver;
    color:black;

    border-top:1px solid black;
}

div.block_menu_item{
    text-align:left;
    padding:2px 5px 2px 5px;
    position:relative;
    font-size:12px;
    line-height:14px;

    border:1px solid black;
    border-top:none;
}

div.block_menu_item:hover{
    background-color:white;
}

div.block_menu_submenu div.block_menu{
    display:none;
    left:0;
    top:-16px;
}

div.block_menu_0, div.block_menu_1, div.block_menu_2, div.block_menu_3{
    display:none;
}

div.block_menu_0 div.block_menu_item:hover div.block_menu_1{
    display:block;
}

div.block_menu_1 div.block_menu_item:hover div.block_menu_2{
    display:block;
}

div.block_menu_2 div.block_menu_item:hover div.block_menu_3{
    display:block;
}

div.block_over_content{
    display: flex;
    flex-direction: row;
    /*gap: 16px;*/
    justify-content: space-between;
    padding-top: 4px;
    gap: 10px;
}